﻿@model FootballManagement.Web.Models.Player


@{
    ViewData["Title"] = "PlayersDetails";
} 


<h2>Datasheet of one Player</h2>

@Html.ActionLink("Back to the List", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.PlayerId)</td>
        <td>@Html.DisplayFor(m => m.PlayerId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Age)</td>
        <td>@Html.DisplayFor(m => m.Age)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nation)</td>
        <td>@Html.DisplayFor(m => m.Nation)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Position)</td>
        <td>@Html.DisplayFor(m => m.Position)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Goals)</td>
        <td>@Html.DisplayFor(m => m.Goals)</td>
    </tr>
</table>