﻿@model FootballManagement.Web.Models.Player

<h2>PlayersEdit</h2>

@using (Html.BeginForm("Edit", "Players"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.PlayerId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Age)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Age)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nation)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nation)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Position)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Position)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Goals)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Goals)</div>

    <input type="submit" value="SEND" />
}