﻿@model IEnumerable<FootballManagement.Web.Models.Player>

<h2>PlayersList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
	<table border="1">
		<tr>
			<th>@Html.DisplayNameFor(m => m.First().Name)</th>
			<th>@Html.DisplayNameFor(m => m.First().Age)</th>
			<th>@Html.DisplayNameFor(m => m.First().Nation)</th>
			<th>@Html.DisplayNameFor(m => m.First().Goals)</th>
			<th>@Html.DisplayNameFor(m => m.First().Position)</th>
			<th>Datasheet</th>
			<th>Delete</th>
			<th>Modify</th>
		</tr>
		@foreach (var player in Model)
         {
			<tr>
				<td>@Html.DisplayFor(m => player.Name)</td>
				<td>@Html.DisplayFor(m => player.Age)</td>
				<td>@Html.DisplayFor(m => player.Nation)</td>
				<td>@Html.DisplayFor(m => player.Goals)</td>
				<td>@Html.DisplayFor(m => player.Position)</td>
				<td>@Html.ActionLink("[SHOW]", "Details", new { id = player.PlayerId })</td>
				<td>@Html.ActionLink("[DEL]", "Remove", new { id = player.PlayerId })</td>
				<td>@Html.ActionLink("[EDIT]", "Edit", new { id = player.PlayerId })</td>
			</tr>
         }
	</table>
				
}